@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

/* index.css */
.bottom-round {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.bottom-round:before {
  content: "";
  display: block;
  height: 18px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  bottom: -9px;
  left: 0px;
  right: 0px;
  background-color: #fff;
}
