@import "tailwindcss";

.bone {
  margin: 20px;
  position: relative;
  width: 145px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.c1,
.c2,
.c3,
.c4 {
  background: #fff;
  height: 35px;
  width: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
}
.c1 {
  left: 0;
  top: 0;
}
.c2 {
  right: 0;
  top: 0;
}
.c3 {
  left: 0;
  bottom: 0;
}
.c4 {
  bottom: 0;
  right: 0;
}

.bone:hover .c1,
.bone:hover .c2,
.bone:hover .c3,
.bone:hover .c4,
.bone:hover .b1,
.bone:hover .b2 {
  background-color: #ffd83c;
}
.b1 {
  background: #fff;
  height: 30px;
  width: 120px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.b2 {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 90px;
  height: 30px;
  line-height: 26px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.bone:hover .b2 {
  color: #000000;
}

body {
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: url("src/assets/loginbackground.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 375px) and (min-height: 667px) {
  .bone {
    width: 100px;
  }
}

@media (max-width: 667px) and (min-height: 375px) {
}
